MARIADB_ROOT_PASSWORD="<root_password>"
MARIADB_DATABASE="sop"

DATABASE_URL="mysql://<username>:<password>@db:3306/sop"

LDAP_ORGANISATION="example.com"
LDAP_DOMAIN="example.com"
LDAP_BASE_DN="dc=example,dc=com"
LDAP_ADMIN_PASSWORD="<admin_password>"